/* Style for Desktop screen */

/* for desktop */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* navbar starts from here */
.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}


.nav-logo {

    text-align: left;
}


.nav-heading h1 {

    text-align: right;
}

.navbar-menu {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
}

.navbar-menu a {

    padding: 5px 10px;
    margin: 20px 0px;

    /* background color na dekhar jonno transparent use hoice */
    background-color: transparent;
}

.navbar-menu a:hover {

    text-decoration: underline;
    text-decoration-color: brown;
}

/* navbar ends here */

/* profile design starts from here */
.profile .top-weather-icon {

    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover {

    width: 140px;
}

.profile-desc p {

    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
}

.profile .bottom-weather-icon {

    bottom: 20px;
    left: 140px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .bottom-weather-icon:hover {

    width: 140px;
}

/* profile div clear */
.profile::after {

    content: '';
    display: table;
    clear: both;
}

/* profile design ends here */


/* about me design starts here */
.about-me-image {

    margin-top: 100px;
}

.about-me-image img {

    height: 270px;
    width: 250px;
}

.aboutme-desc p {

    text-align: left;
}

/* about me design ends here */

/* professional-experience starts here */
/* Step 1: parent row */
.professional-experience {
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    /* space between columns */
    align-items: stretch;
    /* equal card height */
    gap: 0;
    /* optional */
}

/* Step 2: columns width fixed */
.professional-experience>.col-4 {
    width: 33.33%;
    /* fixed width */
    float: none;
    /* remove float */
    display: block;
    /* DON'T make it flex */
}

/* Step 3: card height fix */
.professional-experience .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* fill parent column */
}

/* Step 4: card content expandable */
.professional-experience .card-desc {
    flex-grow: 1;
    /* take remaining space */
}

/* professional-experience ends here */

/* contact starts here */
.achievement {

    padding-right: 50px;
}

.contact button {

    width: 150px;
}

.contact-links {

    position: relative;
}

.media-buttons {

    display: inline;
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* contact ends here */


/* footer starts header */
.footer-menu {

    margin-top: 12px;
}

.footer-menu a {

    display: inline;
    margin: 10px;
}

/* footer ends here */